{% load static %}

<section class="section" id="about">
    <div class="container">
        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h6 class="xs-font mb-0"><hr></h6>
                <h3 class="section-title">Quem somos</h3>
                <p>A NOCS é uma empresa voltada para desenvolvimento de soluções adaptativas em consumo e gerenciamento de energia</p>

<!--                <a href="javascript:void(0)">Leia mais...</a>-->
            </div>
            <div class="col-sm-6 col-md-4 ml-auto">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-calendar"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3+</h4>
                        <p>...</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-face-smile"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3+</h4>
                        <p>...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-star"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3+</h4>
                        <p>...</p>
                    </div>
                </div>
                <div class="widget">
                    <div class="icon-wrapper">
                        <i class="ti-user"></i>
                    </div>
                    <div class="infos-wrapper">
                        <h4 class="text-primary">3+</h4>
                        <p>...</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>