{% load static %}

<section class="section" id="portfolio">
    <div class="container">
        <h6 class="xs-font mb-0"><hr></h6>
        <h3 class="section-title pb-4">Nossos Produtos</h3>
    </div>

    <div id="owl-portfolio" class="owl-carousel owl-theme mt-4 center" style="text-align: -webkit-center;">
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="{% static 'site/imgs/img-1.jpg' %}"alt="" class="box-shadow">
            <h6 class="mt-3 mb-2">Wi-Finder</h6>
            <p class="xs-font">Dispositivo de coleta de dados e posição geográfica com a utilização de sinais de rede Wi-Fi.</p>
        </a>
        <a href="javascript:void(0)" class="item expertises-item">
            <img src="{% static 'site/imgs/img-2.jpg' %}"alt="" class="box-shadow">
            <h6 class="mt-3 mb-2">Tomada inteligente</h6>
            <p class="xs-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </a>
    </div>
</section>