{% extends 'system/model_system.html' %}

{% load static %}

{% block title %} Details {{object.driver.fname}} {% endblock %}

{% block stylesheets_extra %}
{% endblock stylesheets_extra %}

{% block body_system %}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- Menu Reversivo start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{object.driver.fname}} {{object.driver.lname}}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'analytics' %}"><i
                                    class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item">Drivers list</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Reversivo end -->

        <div class="row">
            <div class=" row col-md-5">
                <div class=" col-md-6">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Races</h6>
                            <h2 class="text-right text-white"><i
                                    class="feather icon-shopping-cart float-left"></i><span>{{object.total_races}}</span>
                            </h2>
                            <p class="m-b-0">Completed Races<span class="float-right">{{object.completed_races}}</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class=" col-md-6">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Poles</h6>
                            <h2 class="text-right text-white"><i
                                    class="feather icon-shopping-cart float-left"></i><span>{{object.pole}}</span>
                            </h2>
                            <p class="m-b-0">Starts on pole position</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row col-md-7">
                <div class="col-md-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Second Places</h6>
                            <h2 class="text-right text-white"><i
                                    class="feather icon-shopping-cart float-left"></i><span>{{object.second_places}}</span>
                            </h2>
                            <p class="m-b-0">Finished in second place</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">First Places</h6>
                            <h2 class="text-right text-white"><i
                                    class="feather icon-shopping-cart float-left"></i><span>{{object.first_places}}</span>
                            </h2>
                            <p class="m-b-0">Finished in first place</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Third Places</h6>
                            <h2 class="text-right text-white"><i
                                    class="feather icon-shopping-cart float-left"></i><span>{{object.third_places}}</span>
                            </h2>
                            <p class="m-b-0">Finished in third place</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body bg-patern" style="position: relative;">
                        <div class="row">
                            <div class="col-auto">
                                <span>Customers</span>
                            </div>
                            <div class="col text-right">
                                <h2 class="mb-0">826</h2>
                                <span class="text-c-green">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                            </div>
                        </div>
                        <div id="customer-chart" style="min-height: 144.195px;">
                            <div id="apexchartsjw6d1ilf" class="apexcharts-canvas apexchartsjw6d1ilf light"
                                 style="width: 306px; height: 144.195px;">
                                <svg id="SvgjsSvg6912" width="306" height="144.1951219512195"
                                     xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                     style="background: transparent;">
                                    <g id="SvgjsG6914" class="apexcharts-inner apexcharts-graphical"
                                       transform="translate(95.5, 20)">
                                        <defs id="SvgjsDefs6913">
                                            <clipPath id="gridRectMaskjw6d1ilf">
                                                <rect id="SvgjsRect6915" width="115" height="95" x="0" y="0" rx="0"
                                                      ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none"
                                                      stroke-dasharray="0"></rect>
                                            </clipPath>
                                            <clipPath id="gridRectMarkerMaskjw6d1ilf">
                                                <rect id="SvgjsRect6916" width="117" height="97" x="-1" y="-1" rx="0"
                                                      ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none"
                                                      stroke-dasharray="0"></rect>
                                            </clipPath>
                                        </defs>
                                        <g id="SvgjsG6918" class="apexcharts-pie" data:innerTranslateX="0"
                                           data:innerTranslateY="-25">
                                            <g id="SvgjsG6919" transform="translate(0, -5) scale(1)">
                                                <circle id="SvgjsCircle6920" r="39.07317073170732" cx="57.5" cy="57.5"
                                                        fill="transparent"></circle>
                                                <g id="SvgjsG6921" class="apexcharts-slices">
                                                    <g id="SvgjsG6922" class="apexcharts-series apexcharts-pie-series"
                                                       seriesName="New" rel="1" data:realIndex="0">
                                                        <path id="SvgjsPath6923"
                                                              d="M 57.5 5.40243902439024 A 52.09756097560976 52.09756097560976 0 1 1 7.55574307106567 42.67680670624672 L 20.04180730329925 46.38260502968504 A 39.07317073170732 39.07317073170732 0 1 0 57.5 18.42682926829268 L 57.5 5.40243902439024 z"
                                                              fill="rgba(70,128,255,1)" fill-opacity="1 1"
                                                              stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                              stroke-dasharray="0"
                                                              class="apexcharts-pie-area apexcharts-donut-slice-0"
                                                              index="0" j="0" data:angle="286.53061224489795"
                                                              data:startAngle="0" data:strokeWidth="0" data:value="39"
                                                              data:pathOrig="M 57.5 5.40243902439024 A 52.09756097560976 52.09756097560976 0 1 1 7.55574307106567 42.67680670624672 L 20.04180730329925 46.38260502968504 A 39.07317073170732 39.07317073170732 0 1 0 57.5 18.42682926829268 L 57.5 5.40243902439024 z"></path>
                                                    </g>
                                                    <g id="SvgjsG6924" class="apexcharts-series apexcharts-pie-series"
                                                       seriesName="Return" rel="2" data:realIndex="1">
                                                        <path id="SvgjsPath6925"
                                                              d="M 7.55574307106567 42.67680670624672 A 52.09756097560976 52.09756097560976 0 0 1 57.49090726033332 5.402439817881465 L 57.49318044525 18.4268298634111 A 39.07317073170732 39.07317073170732 0 0 0 20.04180730329925 46.38260502968504 L 7.55574307106567 42.67680670624672 z"
                                                              fill="rgba(46,216,182,1)" fill-opacity="1 1"
                                                              stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                              stroke-dasharray="0"
                                                              class="apexcharts-pie-area apexcharts-donut-slice-1"
                                                              index="0" j="1" data:angle="73.46938775510205"
                                                              data:startAngle="286.53061224489795" data:strokeWidth="0"
                                                              data:value="10"
                                                              data:pathOrig="M 7.55574307106567 42.67680670624672 A 52.09756097560976 52.09756097560976 0 0 1 57.49090726033332 5.402439817881465 L 57.49318044525 18.4268298634111 A 39.07317073170732 39.07317073170732 0 0 0 20.04180730329925 46.38260502968504 L 7.55574307106567 42.67680670624672 z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <line id="SvgjsLine6926" x1="0" y1="0" x2="115" y2="0" stroke="#b6b6b6"
                                              stroke-dasharray="0" stroke-width="1"
                                              class="apexcharts-ycrosshairs"></line>
                                        <line id="SvgjsLine6927" x1="0" y1="0" x2="115" y2="0" stroke-dasharray="0"
                                              stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                    </g>
                                </svg>
                                <div class="apexcharts-legend"></div>
                                <div class="apexcharts-tooltip datk">
                                    <div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker"
                                                                                       style="background-color: rgb(70, 128, 255);"></span>
                                        <div class="apexcharts-tooltip-text"
                                             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-label"></span><span
                                                    class="apexcharts-tooltip-text-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-tooltip-series-group"><span class="apexcharts-tooltip-marker"
                                                                                       style="background-color: rgb(46, 216, 182);"></span>
                                        <div class="apexcharts-tooltip-text"
                                             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-label"></span><span
                                                    class="apexcharts-tooltip-text-value"></span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <h3 class="m-0"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                                <span class="ml-3">New</span>
                            </div>
                            <div class="col">
                                <h3 class="m-0"><i class="fas fa-circle text-primary f-10 m-r-5"></i>182</h3>
                                <span class="ml-3">Return</span>
                            </div>
                        </div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 357px; height: 315px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card bg-primary text-white">
                    <div class="card-body bg-patern-white" style="position: relative;">
                        <div class="row">
                            <div class="col-auto">
                                <span>Customers</span>
                            </div>
                            <div class="col text-right">
                                <h2 class="mb-0 text-white">826</h2>
                                <span class="text-white">8.2%<i class="feather icon-trending-up ml-1"></i></span>
                            </div>
                        </div>
                        <div id="customer-chart1" style="min-height: 144.195px;">
                            <div id="apexchartsyomczk62" class="apexcharts-canvas apexchartsyomczk62 light"
                                 style="width: 306px; height: 144.195px;">
                                <svg id="SvgjsSvg6930" width="306" height="144.1951219512195"
                                     xmlns="http://www.w3.org/2000/svg" version="1.1"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"
                                     class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)"
                                     style="background: transparent;">
                                    <g id="SvgjsG6932" class="apexcharts-inner apexcharts-graphical"
                                       transform="translate(95.5, 20)">
                                        <defs id="SvgjsDefs6931">
                                            <clipPath id="gridRectMaskyomczk62">
                                                <rect id="SvgjsRect6933" width="115" height="95" x="0" y="0" rx="0"
                                                      ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none"
                                                      stroke-dasharray="0"></rect>
                                            </clipPath>
                                            <clipPath id="gridRectMarkerMaskyomczk62">
                                                <rect id="SvgjsRect6934" width="117" height="97" x="-1" y="-1" rx="0"
                                                      ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none"
                                                      stroke-dasharray="0"></rect>
                                            </clipPath>
                                        </defs>
                                        <g id="SvgjsG6936" class="apexcharts-pie" data:innerTranslateX="0"
                                           data:innerTranslateY="-25">
                                            <g id="SvgjsG6937" transform="translate(0, -5) scale(1)">
                                                <circle id="SvgjsCircle6938" r="39.07317073170732" cx="57.5" cy="57.5"
                                                        fill="transparent"></circle>
                                                <g id="SvgjsG6939" class="apexcharts-slices">
                                                    <g id="SvgjsG6940" class="apexcharts-series apexcharts-pie-series"
                                                       seriesName="New" rel="1" data:realIndex="0">
                                                        <path id="SvgjsPath6941"
                                                              d="M 57.5 5.40243902439024 A 52.09756097560976 52.09756097560976 0 1 1 34.89571544499744 104.43828053267237 L 40.54678658374808 92.70371039950427 A 39.07317073170732 39.07317073170732 0 1 0 57.5 18.42682926829268 L 57.5 5.40243902439024 z"
                                                              fill="rgba(255,255,255,1)" fill-opacity="1 1"
                                                              stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                              stroke-dasharray="0"
                                                              class="apexcharts-pie-area apexcharts-donut-slice-0"
                                                              index="0" j="0" data:angle="205.71428571428572"
                                                              data:startAngle="0" data:strokeWidth="0" data:value="20"
                                                              data:pathOrig="M 57.5 5.40243902439024 A 52.09756097560976 52.09756097560976 0 1 1 34.89571544499744 104.43828053267237 L 40.54678658374808 92.70371039950427 A 39.07317073170732 39.07317073170732 0 1 0 57.5 18.42682926829268 L 57.5 5.40243902439024 z"></path>
                                                    </g>
                                                    <g id="SvgjsG6942" class="apexcharts-series apexcharts-pie-series"
                                                       seriesName="Return" rel="2" data:realIndex="1">
                                                        <path id="SvgjsPath6943"
                                                              d="M 34.89571544499744 104.43828053267237 A 52.09756097560976 52.09756097560976 0 0 1 57.49090726033332 5.402439817881465 L 57.49318044525 18.4268298634111 A 39.07317073170732 39.07317073170732 0 0 0 40.54678658374808 92.70371039950427 L 34.89571544499744 104.43828053267237 z"
                                                              fill="rgba(46,216,182,1)" fill-opacity="1 1"
                                                              stroke-opacity="1" stroke-linecap="butt" stroke-width="0"
                                                              stroke-dasharray="0"
                                                              class="apexcharts-pie-area apexcharts-donut-slice-1"
                                                              index="0" j="1" data:angle="154.28571428571428"
                                                              data:startAngle="205.71428571428572" data:strokeWidth="0"
                                                              data:value="15"
                                                              data:pathOrig="M 34.89571544499744 104.43828053267237 A 52.09756097560976 52.09756097560976 0 0 1 57.49090726033332 5.402439817881465 L 57.49318044525 18.4268298634111 A 39.07317073170732 39.07317073170732 0 0 0 40.54678658374808 92.70371039950427 L 34.89571544499744 104.43828053267237 z"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <line id="SvgjsLine6944" x1="0" y1="0" x2="115" y2="0" stroke="#b6b6b6"
                                              stroke-dasharray="0" stroke-width="1"
                                              class="apexcharts-ycrosshairs"></line>
                                        <line id="SvgjsLine6945" x1="0" y1="0" x2="115" y2="0" stroke-dasharray="0"
                                              stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line>
                                    </g>
                                </svg>
                                <div class="apexcharts-legend"></div>
                                <div class="apexcharts-tooltip dark" style="left: 124.977px; top: 79.2344px;">
                                    <div class="apexcharts-tooltip-series-group active"
                                         style="display: flex; background-color: rgb(255, 255, 255);"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(255, 255, 255); display: none;"></span>
                                        <div class="apexcharts-tooltip-text"
                                             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-label">New: </span><span
                                                    class="apexcharts-tooltip-text-value">20</span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                    <div class="apexcharts-tooltip-series-group"
                                         style="display: none; background-color: rgb(255, 255, 255);"><span
                                            class="apexcharts-tooltip-marker"
                                            style="background-color: rgb(255, 255, 255); display: none;"></span>
                                        <div class="apexcharts-tooltip-text"
                                             style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">
                                            <div class="apexcharts-tooltip-y-group"><span
                                                    class="apexcharts-tooltip-text-label">New: </span><span
                                                    class="apexcharts-tooltip-text-value">20</span></div>
                                            <div class="apexcharts-tooltip-z-group"><span
                                                    class="apexcharts-tooltip-text-z-label"></span><span
                                                    class="apexcharts-tooltip-text-z-value"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-success"></i>674</h3>
                                <span class="ml-3">New</span>
                            </div>
                            <div class="col">
                                <h3 class="m-0 text-white"><i class="fas fa-circle f-10 m-r-5 text-white"></i>182</h3>
                                <span class="ml-3">Return</span>
                            </div>
                        </div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 357px; height: 315px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

{% endblock body_system %}

<!-- Specific Page JS goes HERE  -->
{% block script_base %}
{% endblock script_base %}