{% load static %}

<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper">
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Menu</label>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a>
                        <span class="pcoded-micon"><i class="feather icon-image"></i></span>
                        <span class="pcoded-mtext">Pilotos</span>
                    </a>

            </ul>
        </div>
    </div>
</nav>






